@use "../../styles/partials/mixin";
//@use "../../styles/partials/global";
@use "../../styles/partials/variables";

.tasks {
  padding: variables.$pm-base * 8 0;
  background-color: variables.$secondary-blue;
  @include mixin.flexbox(column, center, center);
  @include mixin.tablet {
    padding: variables.$pm-base * 12 0;
  }

  &__head {
    width: 100%;
    max-width: 48rem;
    padding: 0 variables.$pm-base * 4;
    @include mixin.flexbox(row, space-between, center);
  }

  &__add {
    color: variables.$primary-blue;

    @include mixin.tablet {
      font-size: 3rem;
    }

    &:hover,
    &:active {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &__container {
    @include mixin.flexbox(column, center, center);
    width: 100%;
    max-width: 48rem;
    /* @include mixin.desktop {
      @include mixin.flexbox(row, space-between, center);
      flex-wrap: wrap;
      padding: 0 variables.$pm-base * 8;
    } */
  }

  &__card {
    @include mixin.card;
    width: 94%;

    margin: variables.$pm-base * 4 0;
    opacity: 0.9;

    @include mixin.tablet {
      width: 90%;
      padding: variables.$pm-base * 4;
    }
    /* 
    @include mixin.desktop {
      width: 45%;
      height: 18vw;
      overflow: scroll;
      padding: variables.$pm-base * 4;
    } */

    &:hover,
    &:active {
      position: relative;
      top: 2px;
      opacity: 1;
    }

    &--complete {
      background-color: variables.$secondary-gray;
      opacity: 0.5;
      &:hover,
      &:active {
        position: relative;
        top: 0;
        opacity: 0.5;
      }
    }
  }

  &__headline {
    @include mixin.flexbox(row, space-between, center);
  }

  &__title {
    text-transform: capitalize;
    padding: variables.$pm-base;
  }

  &__toggle {
    @include mixin.flexbox(row, flex-start, center);
  }

  &__icon {
    margin: 0 variables.$pm-base * 4;
  }

  &__date,
  &__days {
    padding: variables.$pm-base;
    font-size: small;
    @include mixin.tablet {
      font-size: 1.125rem;
    }
  }

  &__icon,
  &__delete,
  &__click {
    @include mixin.tablet {
      font-size: 1.4rem;
    }
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  &__teams {
    @include mixin.flexbox(row, space-around, center);
    flex-wrap: wrap;
    display: inline;
  }

  &__team {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid variables.$primary-black;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    margin: variables.$pm-base;
    @include mixin.tablet {
      width: 4rem;
      height: 4rem;
    }
  }
}
