@use "../../styles/partials/mixin";
@use "../../styles/partials/variables";

.project-name {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  padding-top: variables.$pm-base * 8;
  padding-bottom: variables.$pm-base * 4;

  @include mixin.tablet {
    padding: variables.$pm-base * 12 variables.$pm-base * 4;
    padding-bottom: variables.$pm-base * 4;
  }
}
