@use "../../styles/partials/mixin";
//@use "../../styles/partials/global";
@use "../../styles/partials/variables";

.project-name {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  margin-top: variables.$pm-base * 4;

  &::after {
    content: "📌";
    font-size: x-large;
    position: absolute;
    right: 40%;
    top: -20px;
  }
}
