@use "../../styles/partials/mixin";
@use "../../styles/partials/variables";

.project-name {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  margin-top: variables.$pm-base * 8;
  margin-bottom: variables.$pm-base * 4;
}
