@use "./variables";

@mixin flexbox(
  $direction: row,
  $justify-content: flex-start,
  $align-items: stretch
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin avatar-container {
  width: 10%;
  height: 10vw;
  max-width: 7rem;
  max-height: 7rem;
  border-radius: 50%;
}
@mixin avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@mixin card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: white;
  padding: 5px 10px;
}
