@use "../../styles/partials/mixin";
@use "../../styles/partials/variables";

.add {
  width: 100%;
  padding: variables.$pm-base * 4;
  background-color: variables.$primary-white;
  @include mixin.flexbox(column, space-between, center);

  &__container {
    width: 100%;
    max-width: 48rem;
    position: relative;
    @include mixin.flexbox(column, center, center);
  }

  @include mixin.tablet {
    padding: variables.$pm-base * 8;
  }

  &__back {
    position: absolute;
    left: variables.$pm-base;
    top: 0;
    color: variables.$primary-blue;
    &:hover,
    &:active {
      cursor: pointer;
      opacity: 0.8;
    }
    @include mixin.tablet {
      font-size: 1.5rem;
    }
  }

  &__title {
    text-align: center;
    margin: variables.$pm-base * 4;
    @include mixin.tablet {
      margin-top: variables.$pm-base * 16;
    }
  }
}

.team-form {
  &__items {
    margin-bottom: variables.$pm-base * 4;
    width: 100%;
    max-width: 48rem;

    @include mixin.tablet {
      @include mixin.flexbox(row, space-between, center);
      margin-bottom: variables.$pm-base * 8;
    }
  }

  &__input {
    width: 100%;
    @include mixin.tablet {
      width: 70%;
    }
  }

  &__label {
    margin-bottom: variables.$pm-base * 2;
    @include mixin.tablet {
      width: 30%;
      margin-bottom: 0;
    }
  }

  &__box {
    @include mixin.avatar-container;
    border: 1px solid variables.$primary-gray;
    width: 6.25rem;
    height: 6.25rem;
    margin-top: variables.$pm-base * 2;
  }

  &__avatar {
    @include mixin.avatar;
    border-radius: 50%;
  }

  #avatar {
    display: none;
  }

  &__role {
    @include mixin.flexbox(column, flex-start, flex-start);
    margin-bottom: variables.$pm-base * 4;
    width: 100%;
    max-width: 48rem;
    @include mixin.tablet {
      @include mixin.flexbox(row, space-between, center);
      margin-bottom: variables.$pm-base * 8;
    }
  }

  #role {
    width: 100%;
    padding: variables.$pm-base * 2;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;

    @include mixin.tablet {
      width: 75%;
    }

    &:focus,
    &:hover {
      outline: none;
      border: 1px solid variables.$secondary-blue;
    }
  }

  &__buttons {
    margin-top: variables.$pm-base * 8;
    width: 100%;
    max-width: 48rem;
    @include mixin.flexbox(row, space-between, center);
    @include mixin.tablet {
      margin-top: variables.$pm-base * 30;
    }
  }
}
