@use "../../styles/partials/mixin";
@use "../../styles/partials/global";
@use "../../styles/partials/variables";

.countdown {
  background-color: variables.$primary-blue;
  color: variables.$primary-white;
  padding: variables.$pm-base * 8 variables.$pm-base * 4;
  @include mixin.tablet {
    padding: variables.$pm-base * 12 variables.$pm-base * 4;
  }

  &__edit {
    margin-bottom: variables.$pm-base * 4;
    color: variables.$primary-black;
    @include mixin.flexbox(column, center, center);

    &:hover,
    &:active {
      cursor: pointer;
    }
  }

  &__success-date {
    font-size: large;
    text-align: center;
    font-weight: 900;
    color: variables.$primary-blue;
    margin: variables.$pm-base;
  }

  &--launched {
    & img {
      object-fit: contain;
      width: 100%;
    }
  }

  &__calendar {
    text-align: center;
  }

  &__details {
    @include mixin.flexbox(row, space-around, center);
    width: 100%;
    padding: variables.$pm-base * 8 0;
  }
  &__entires {
    @include mixin.flexbox(row, flex-start, flex-start);
  }

  &__mark {
    font-size: larger;
    margin-left: variables.$pm-base * 7;
  }

  .days,
  .hours,
  .minutes,
  .seconds {
    @include mixin.flexbox(column, flex-start, flex-end);
  }

  .days__count,
  .hours__count,
  .minutes__count,
  .seconds__count {
    font-size: x-large;
    @include mixin.tablet {
      font-size: 1.7rem;
    }
  }

  .days__notes,
  .hours__notes,
  .minutes__notes,
  .seconds__notes {
    color: variables.$primary-gray;
  }

  &__business {
    text-align: center;
    font-size: small;
    @include mixin.tablet {
      font-size: 1.5rem;
    }
  }
}
