@use "../../styles/partials/mixin";
@use "../../styles/partials/variables";

.project-edit {
  width: 100%;
  height: 100vh;
  padding: variables.$pm-base * 4;
  background-color: variables.$primary-white;
  @include mixin.tablet {
    padding: variables.$pm-base * 8;
  }

  &__back {
    color: variables.$primary-blue;
    @include mixin.tablet {
      font-size: 1.5rem;
    }
    &:hover,
    &:active {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &__title {
    text-align: center;
    margin: variables.$pm-base * 8;
  }
}

.project-form {
  &__items {
    margin-bottom: variables.$pm-base * 6;
    @include mixin.tablet {
      width: 100%;
      @include mixin.flexbox(row, space-between, center);
      margin-bottom: variables.$pm-base * 12;
    }
  }

  &__input {
    width: 100%;
    @include mixin.tablet {
      width: 75%;
    }
  }

  &__label {
    margin-bottom: variables.$pm-base * 2;
  }

  &__buttons {
    width: 100%;
    margin-top: variables.$pm-base * 12;
    @include mixin.flexbox(row, space-between, center);
    @include mixin.tablet {
      margin-top: variables.$pm-base * 30;
    }
  }
}
