@use "../../styles/partials/mixin";
@use "../../styles/partials/variables";

.footer {
  width: 100%;
  @include mixin.flexbox(column, center, center);
  padding: variables.$pm-base * 4 variables.$pm-base * 8;
  position: relative;

  @include mixin.tablet {
    @include mixin.flexbox(row, center, center);
  }

  &__item {
    margin: variables.$pm-base variables.$pm-base * 22;
    &:nth-of-type(2) {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__icon {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 variables.$pm-base * 4;
    &:hover {
      cursor: pointer;
    }
  }
}
