@use "../../styles/partials/mixin";
//@use "../../styles/partials/global";
@use "../../styles/partials/variables";

.teams {
  padding: variables.$pm-base * 8 0;
  background-color: variables.$secondary-gray;

  &__head {
    padding: 0 variables.$pm-base * 4;
    @include mixin.flexbox(row, space-between, center);
  }

  &__add {
    color: variables.$primary-blue;
    &:hover,
    &:active {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &__container {
    @include mixin.flexbox(column, center, center);
  }

  &__card {
    @include mixin.card;
    width: 94%;
    margin: variables.$pm-base * 4 0;
    opacity: 0.8;

    &:hover,
    &:active {
      position: relative;
      top: 2px;
      opacity: 1;
    }
  }

  &__name {
    text-transform: capitalize;
    padding: variables.$pm-base;
  }

  &__avatar {
    width: 30%;
    width: 6.5rem;
    height: 6.5rem;
  }

  &__intro {
    width: 60%;
    margin-left: variables.$pm-base * 2;
  }

  &__info {
    @include mixin.flexbox(row, center, center);
    flex-wrap: wrap;
  }

  &__countdown {
    margin-bottom: variables.$pm-base * 3;
    text-align: left;
  }

  &__tool {
    @include mixin.flexbox(row, space-between, center);
  }

  &__role {
    text-transform: capitalize;
  }

  &__icon {
    opacity: 1;
    margin-right: variables.$pm-base * 4;
  }

  &__icon,
  &__delete {
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  &__description {
    color: variables.$primary-gray;
  }
}
