@use "../../styles/partials/mixin";
//@use "../../styles/partials/global";
@use "../../styles/partials/variables";

.project-form {
  @include mixin.flexbox(column, flex-start, center);
  width: 100%;
  height: 100vh;
  padding: 0;

  &__headline {
    text-align: center;
    @include mixin.tablet {
      font-size: 2.5rem;
    }
    @include mixin.desktop {
      margin-top: variables.$pm-base * 8;
    }
  }

  &__sizes {
    @include mixin.flexbox(column, center, center);
    margin-bottom: variables.$pm-base * 2;

    @include mixin.tablet {
      margin: variables.$pm-base * 6 0;
    }

    @include mixin.tablet {
      @include mixin.flexbox(row, center, center);
      margin: variables.$pm-base * 8 0;
    }
  }

  &__size {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 9.375rem;
    height: 6rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    margin: variables.$pm-base;

    @include mixin.tablet {
      width: 15.625rem;
      height: 10.375rem;
    }

    @include mixin.desktop {
      margin: variables.$pm-base * 4;
    }

    &--small {
      background-image: url("../../assets/images/small\ team.jpeg");
    }

    &--medium {
      background-image: url("../../assets/images/medium\ team.jpeg");
    }

    &--large {
      background-image: url("../../assets/images/large\ team.jpeg");
    }
  }

  &__item {
    @include mixin.flexbox(column, center, center);

    @include mixin.desktop {
      width: 40%;
      margin-bottom: variables.$pm-base * 8;
    }
  }

  &__secret-icon {
    margin-left: variables.$pm-base * 4;
    color: variables.$primary-blue;
  }

  &__icon {
    margin-left: variables.$pm-base * 4;
    opacity: 0.7;
  }

  &__date {
    margin-top: variables.$pm-base * 4;
  }

  &__button {
    margin-top: variables.$pm-base * 4;

    @include mixin.tablet {
      margin-top: variables.$pm-base * 12;
    }
  }
}
